section.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(111,66,193,1) 0%, rgba(255,255,255,1) 100%);
  padding-top : 5rem;
  transition: all 0.3s;
}
.hero-content{
  background-image: url('../../imgs/paterns/patern\ 4.png');
  background-repeat: no-repeat;
  background-position: start;
  background-size: contain;
}
.hero-content h1{
  color: var(--main);
  font-size: 6rem;
  text-align: left;
  font-weight: 800;
  animation: electric 3s ease-in infinite ;
}

.hero-content h4{
  font-size: 46px;
  font-weight: 700;
  text-align: left;
  /* animation: electric 4s ease-in-out infinite ; */
}
@media only screen and (max-width: 900px) {
  .hero-content h1{
    text-align: center;
  }
  .hero-content h4{
    text-align: center;
  }
}
@media only screen and (max-width: 500px) {

  section.hero {
    padding: 7rem 1rem 2.2rem;
  }

  .hero-content h1{
    text-align: center;
    font-size: 3.5rem;
    line-height: 3rem;
  }
  .hero-content h4{
    text-align: center;
    font-size: 2rem;
  }

}



@keyframes electric {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 0;
  }
  45% {
    opacity: 1;
  }
  70% {
    opacity: 0.5;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0.3;
  }
  85% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.7;
  }
  95% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}